.bird-img{
    width: 100%;
    margin: auto;

}


.full-height{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bottom-text{
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 5%;
    font-size: .75em;
}
/* .delete-row{
    display: flex;
    right: 0;
    flex-direction: row-reverse;
    height: 2em;
} */
.delete-btn{
    position: absolute;
    margin: auto;
    left: 5%;
    top: 5%;
    color: #ED6894;
}
.delete-btn:hover{
    color: rgb(180, 80, 113);
}
.no-border{
    /* border: solid 2px #1EBEA5;
    border-radius: 25px; */
    /* border: none; */
    /* background: #212121; */
    background: none;
    border: none;
    transition: transform .25s;
}
.no-border:hover{
    transform: scale(1.05);
   
}
.add-btn:hover{
    background: #20736A;
}
.add-btn{
    position: absolute;
    bottom: 15%;
    margin: auto;
    background: #1EBEA5;
    color: white;

}
.btn-section{
    display: flex;
    justify-content: center;
}
/* .test{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    justify-content: center;
} */
/* .hey{
    position: absolute;
    width: 100%;
    bottom: 0;
} */

.hi{
    position: absolute;
    display: flex;
    height: 100%;
}
.habit-name{
    font-size: 1.5rem;
    margin-top: 2.5em;
    padding: 0 2em;
    font-weight: bold;
}

.habit-description{
    font-size: .8rem;
    padding: .5em 1em;
}
.counter-center{
    display: flex;
    justify-content: center;
}
.habit-counter{
    font-size: 3rem;
    margin: auto;
    bottom: 40%;
    position: absolute;
    color: white;
    /* text-shadow: .8px .8px rgba(255, 255, 255, 0.699); */
}
/* .test{
    background: #29b6f6



    ;
} */