.center-things{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.instruction-btn:hover{
    background: #20736A;
}
.instruction-btn{
    background: #1EBEA5;
    color: white;

}